/target
/lib
/classes
/checkouts
/target
/dev-resources
pom.xml
questions.md
.nrepl-port
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.DS_Store
/src/.DS_Store
/src/ttt/.DS_Store
